{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}
{% block body %}
<div class="alert alert-danger">
  <strong>{{alertext}}</strong>
</div>
<h2 class="my-5">Semester 2 Grade Calculator</h2>
<h4 class="my-5">Only applicable for SSN <strong> ECE </strong> students</h4>
<h4 class="my-3">Fill in your details</h4>
<form action="/" method="POST" class="w-50 mx-auto my-3">
  <div class="form-group">
      <label>Enter Grade scored in UEC1201 Circuit Analysis (4 Credits):</label>
      <select class="form-control" name="ca">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
  </div>
  <div class="form-group">
      <label>Enter Grade scored in UEC1202 Electronic Devices (3 Credits):</label>
      <select class="form-control" name="ed">
        <option selected value="0">-- Select an option --</option>
        <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
        <option value="ra">RA</option>
        <option value="sa">SA</option>
        <option value="w">W</option>
        <option value="ab">AB</option>
        <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UEC1211 Circuits and Devices Lab (1.5 Credits):</label>
      <select class="form-control" name="cdl">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UEE1253 Basic Electrical and Instrumentation Engineering (3 Credits):</label>
      <select class="form-control" name="eie">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UEN1276 Technical English (3 Credits):</label>
      <select class="form-control" name="te">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UGE1297 Design Thinking and Engineering Practices Lab (1.5 Credits):</label>
      <select class="form-control" name="dp">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UMA1276 Complex Functions and Laplace Transforms (4 Credits):</label>
      <select class="form-control" name="cflt">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
        <option value="9">A+</option>
        <option value="8">A</option>
        <option value="7">B+</option>
        <option value="6">B</option>
          <option value="ra">RA</option>
          <option value="sa">SA</option>
          <option value="w">W</option>
          <option value="ab">AB</option>
          <option value="au">AU</option>
      </select>
    </div>
    <div class="form-group">
      <label>Enter Grade scored in UPH1277 Physics  for Electronics Engineering (3 Credits):</label>
      <select class="form-control" name="pee">
          <option selected value="0">-- Select an option --</option>
          <option value="10">O</option>
          <option value="9">A+</option>
          <option value="8">A</option>
          <option value="7">B+</option>
          <option value="6">B</option>
        <option value="ra">RA</option>
        <option value="sa">SA</option>
        <option value="w">W</option>
        <option value="ab">AB</option>
        <option value="au">AU</option>
      </select>
    </div>
    <button type="submit" class="btn btn-danger my-5">Calculate</button>
</form>
{% endblock body %}
